@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Home</h1>
    <p>My name is Cameron Thompson, I am a second year Computer Science student at Lakehead/ Georgian.</p>
    <p>I created a web application that allows users to save all of their valuble collectables into one easy place. This allows for anyone to add any type
    of collectable into the database and it will be all handled the same. Users are also able to see who has what in each persons collections. This adds
    a unique social factor to the application so collectors may be united.</p>
</div>
