@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Home</h1>
    <p>My name is Cameron Thompson, I am a second year Computer Science student at Lakehead/ Georgian.</p>
    <p>
        I created a web application that allows users to save all of their valuble collectables into one easy place. This allows for anyone to add any type
        of collectable into the database and it will be all handled the same. Users are also able to see who has what in each persons collections. This adds
        a unique social factor to the application so collectors may be united.
    </p>
    <!--<p>Unfortunatley, the migration was not working in my Visual Studios. I researched the error and tried to find possible fixes however could not figure
    out a work-around. I have checked my packages and the specified package is in the correct location with the corresponding name. I coded the rest as if
    I did get it working, however my database-related pages will not be visible for this reason.</p>
    <p>The error message I kept getting was: The specified deps.json [\\\\Mac\Home\Desktop\Comp. Science\Year 2\Summer Sem\COMP-2084\Assignment_1\Assignment_1\bin\Debug\net5.0\Assignment_1.deps.json] does not exist</p>
    -->
</div>
