@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Your Collection</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Brand</th>
        <th>Condition</th>
        <th>Price Paid</th>
        <th>Estimated Value</th>
    </tr>
    <tr>
        <td>1</td>
        <td>John Wick</td>
        <td>Funko Pop</td>
        <td>10</td>
        <td>12.99</td>
        <td>35</td>
    </tr>
</table>